<!DOCTYPE html>
<html>
<head>
	<title>Shop-Online</title>
	<link rel="stylesheet" href="dimsemenov-Magnific-Popup-0.9.9-0-g2ff1692 (1)/dimsemenov-Magnific-Popup-2ff1692/dist/magnific-popup.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="dimsemenov-Magnific-Popup-0.9.9-0-g2ff1692 (1)/dimsemenov-Magnific-Popup-2ff1692/dist/jquery.magnific-popup.min.js"></script>
	<link href="style.css" rel="stylesheet">
	<script src="script.js"></script>

</head>
<body>
<table border="1" width="100%" height="100%">
	<tr height=10% style="background-color: silver;">
		<td>{% include "blocks/header.tmpl" %}</td>
	</tr>
	<tr>
		<td>
			{% include "blocks/content.tmpl" %}
		</td>
	</tr>
	<tr height=10% style="background-color: silver;">
		<td>
			{% include "blocks/footer.tmpl" %}
		</td>
	</tr>
</table>
</body>

</html>